
body{
   
    
    background-color: rgb(215, 216, 216);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}


.container{
    position: relative;
    width: 100%;
    font-family: 'Rubik', sans-serif;
    max-width: 1000px;
    min-height: 1350px;
    margin: 35px;
    background:white;
    display:grid;
    grid-template-columns: 1.85fr 1fr;
    
    
}


.vsl{
    padding-left: 50px;
    margin-top: 50px;
}

.space{
    background-color: #182c44;
    height: 20px;
    padding-left: 0;
}

.profile{
    width: 130px;
    border-radius: 65px;
    margin-top: 30px;
    margin-left: 30px;
}

.vsr{
    position: relative;
    font-family: 'Rubik', sans-serif;
    background-color: #28445c;
    color: white;  
}

.pad{

    padding-left: 50px;
    padding-right: 25px;
}